# LoginLab Client Application Configuration
PORT=3000
AUTHFORGE_BASE_URL=http://localhost:4000


GOOGLE_AUTH_ENABLED=true
GOOGLE_CLIENT_ID=179446005269-mc8stcvcrj0ehhbhqkfdlo5vsd995gdn.apps.googleusercontent.com